.git
.venv
activate/
create/
datasets/
processed_classes/
processed_data/
tests/
.pytest_cache/
__pycache__/
**/__pycache__/
*.pyc
frontend/node_modules/
frontend/dist/
frontend/.angular/
.env
web_config.json
*.md
!README.md
.DS_Store
