[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
pandas = "*"
bs4 = "*"
selenium = "*"
python-dotenv = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.9"
